.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--active {
  background: #00C49F !important;
  color: white !important;
}
.highlight {
  background-color: green !important;  /* Yellow highlight */
  border-radius: 50%; /* Make it circular */
  color: black; /* Ensure text is readable */
  font-weight: bold;
}
